.gridLines {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.gridLines::before,
.gridLines::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.gridLines::before {
    background-image: linear-gradient(to bottom, #ddd 1px, transparent 1px);
    background-size: 100% 30px;
}

.gridLines::after {
    background-image: linear-gradient(to right, #ddd 1px, transparent 1px);
    background-size: 30px 100%;
}
